body {
  background-color: black;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blocker {
  width: 25%;
  height: 100vh;
  z-index: 999;
  background: black;
}

#container {
  width: 50%;
  height: 100%;
  text-align: center;
  position: relative;
}

#speedContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.trackText {
  color: #26CC16;
  font-size: 30px;
}

#TRKvalue {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  top: -5px;
  font-size: 35px;
}

.compassRing {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerCompassRing {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#leftInfo {
  position: absolute;
  left: 0%;
  top: 65%;
  font-size: 18px;
  color: #008B8B;
  font-weight: bold;
}


#TCAS {
  position: absolute;
  left: 0%;
  top: 77%;
  font-size: 28px;
  color: #FFD700;
}

#VORvalue {
  position: absolute;
  left: 0%;
  top: 86%;
  font-size: 28px;
  color: #FFD700;
  border: 2px solid #FFD700;
}

#DMEvalue {
  position: absolute;
  left: 0%;
  top: 92%;
  font-size: 28px;
  color: #FFD700;
  border: 2px solid #FFD700;
}


#VORvalue2 {
  position: absolute;
  right: 0%;
  top: 86%;
  font-size: 28px;
  color: #FFD700;
  border: 2px solid #FFD700;
}

#DMEvalue2 {
  position: absolute;
  right: 0%;
  top: 92%;
  font-size: 28px;
  color: #FFD700;
  border: 2px solid #FFD700;
}
